@using View.Views.Shared.Helper
@model Domain.DTO.Amenity.AmenityResponse

@{
    ViewData["Title"] = "Details";
}

<h4>Chi tiết tiện nghi</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayName("Tên tện nghi")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Mô tả")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Trạng thái")</dt>
        <dd class="col-sm-10">@StatusHelper.DisplayStatusBadge(Model.Status)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Thời gian tạo")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedTime)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Được tạo bởi")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedBy)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Thời gian sửa")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedTime)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Được sửa bởi")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedBy)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Xóa")</dt>
        <dd class="col-sm-10">@(Model.Deleted ? "Đã xóa" : "Chưa xóa")</dd>
        <dt class="col-sm-2">@Html.DisplayName("Thời gian xóa")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedTime)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Được xóa bởi")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedBy)</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Sửa", "Edit", new { amenityId = Model.Id }, new { @class = "btn btn-warning" })
    <a asp-action="Index" class="btn btn-outline-secondary">Quay lại</a>
</div>

<style>
    dt {
        margin-bottom: 10px;
    }
    dd {
        margin-bottom: 20px;
    }
</style>
