@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.DTO.Amenity.AmenityResponse

@{
    ViewData["Title"] = "Edit";
}

<h3>Chỉnh sửa tiện nghi</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên tiện nghi</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                @* <select name="status" class="form-select" id="status"> *@
                @*     <option disabled>Chọn trạng thái</option> *@
                @*     @foreach (var status in Enum.GetValues(typeof(EntityStatus))) *@
                @*     { *@
                @*     var statusEnum = (EntityStatus)status; *@
                @*     <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())"> *@
                @*         @StatusHelper.DisplayNameForEnum(statusEnum) *@
                @*     </option> *@
                @*     } *@
                @* </select> *@
                <select asp-for="Status" class="form-control">
                    @{
                    string[] status = (string[])Enum.GetNames(typeof(EntityStatus));
                    }
                    @foreach (string item in status)
                    {
                    <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ModifiedTime" class="control-label">Thời gian sửa</label>
                <input asp-for="ModifiedTime" class="form-control"/>
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="ModifiedBy" class="control-label">Được sửa bởi</label> *@
            @*     <input asp-for="ModifiedBy" class="form-control"/> *@
            @*     <span asp-validation-for="ModifiedBy" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group mt-3">
                <input type="submit" value="Cập nhật" class="btn btn-warning"/>
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Quay lại</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}