@using System.Diagnostics
@using Domain.Enums
@using View.Views.Shared.Helper
@model System.Collections.Generic.List<Domain.DTO.Amenity.AmenityResponse>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách tiện nghi</h1>

<form method="get" asp-action="Index" class="d-flex align-items-center">
    <div class="form-group me-2">
        <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm tiện nghi..."
               value="@Context.Request.Query["searchString"]" />
    </div>
    <!-- Dropdown chọn trạng thái -->
    <div class="form-group me-2">
        <select name="status" class="form-select" id="status">
            <option value="">Chọn trạng thái</option>
            @foreach (var status in Enum.GetValues(typeof(EntityStatus)))
            {
            // Ép kiểu status về EntityStatus
            var statusEnum = (EntityStatus)status;
            <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                @StatusHelper.DisplayNameForEnum(statusEnum) <!-- Hiển thị tên tiếng Việt -->
            </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-light">Tìm kiếm</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">Xóa lọc</a>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary mt-2">Tạo mới</a>
    <a asp-action="Trash" class="btn btn-outline-danger mt-2 ms-1">Thùng rác</a>
</p>
<table class="table" style="color: whitesmoke">
    <thead>
    <tr>
        <th style="width: 150px">@Html.DisplayName("Tên tiện nghi")</th>
        <th style="width: 250px">@Html.DisplayName("Mô tả")</th>
        <th style="width: 150px">@Html.DisplayName("Trạng thái")</th>
        <th style="width: 200px">@Html.DisplayName("Chức năng")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@StatusHelper.DisplayStatusBadge(item.Status)</td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { amenityId = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Chi tiết", "Details", new { amenityId = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Xóa", "Delete", new { amenityId = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>