@using System.Diagnostics
@using Domain.Enums
@using View.Views.Shared.Helper
@model System.Collections.Generic.List<Domain.DTO.Amenity.AmenityResponse>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách tiện nghi</h1>

<form method="get" asp-action="Index" class="d-flex align-items-center">
    <div class="form-group me-2">
        <input type="text" name="search" class="form-control" placeholder="Tìm kiếm tiện nghi..."
               value="@ViewContext.HttpContext.Request.Query["search"]" />
    </div>
    <button type="submit" class="btn btn-light">Tìm kiếm</button>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary mt-2">Tạo mới</a>
</p>
<table class="table" style="color: whitesmoke">
    <thead>
    <tr>
        <th>@Html.DisplayName("Tên tiện nghi")</th>
        <th>@Html.DisplayName("Mô tả")</th>
        <th>@Html.DisplayName("Trạng thái")</th>
        <th>@Html.DisplayName("Chức năng")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@StatusHelper.DisplayStatusBadge(item.Status)</td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { amenityId = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Chi tiết", "Details", new { amenityId = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Xóa", "Delete", new { amenityId = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>