@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.DTO.RoomType.RoomTypeResponse

<h3>Chi tiết loại phòng @Model.Name</h3>
<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-3">
    Quay lại
</a>
<div class="row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            <label class="control-label1">Tên loại phòng</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Tên loại phòng</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Mô tả</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Số lượng tối đa người ở</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.MaximumOccupancy)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Trạng thái</label>
            <dd class="col-sm-10">@StatusHelper.DisplayStatusBadge(Model.Status)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Số lượng phòng</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Quantity)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Thời gian tạo</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedTime)</dd>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-group mb-3">
            <label class="control-label1">Được tạo bởi</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedBy)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Thời gian sửa</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedTime)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Được sửa bởi</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedBy)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Trạng thái xóa</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Deleted)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Thời gian xóa</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedTime)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Được xóa bởi</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedBy)</dd>
        </div>
    </div>
</div>

<div>
    <h3>Danh sách tiện ích của @Model.Name</h3>
    @if (Model.AmenityRooms != null && Model.AmenityRooms.Any())
    {
        <table class="table table-bordered" style="color: black">
            <thead>
            <tr>
                <th>Tên tiện ích</th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var amenityRoom in Model.AmenityRooms
                          .Where(amenityRoom => amenityRoom.Status == EntityStatus.Active))
            {
                <tr>
                    <td>@amenityRoom.Amenity.Name</td>
                    <td>@amenityRoom.Amount</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Phòng này hiện không có tiện ích nào được liên kết.</p>
    }
</div>

<div>
    <h2>Danh sách dịch vụ của @Model.Name</h2>
    @if (Model.RoomTypeServices != null && Model.RoomTypeServices.Any())
    {
        <table class="table table-bordered" style="color: black">
            <thead>
            <tr>
                <th>Tên dịch vụ </th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var roomTypeService in Model.RoomTypeServices
                          .Where(roomTypeService => roomTypeService.Status == EntityStatus.Active))
            {
                <tr>
                    <td>@roomTypeService.Service.Name</td>
                    <td>@roomTypeService.Amount</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Phòng này hiện không có dịch vụ nào được liên kết.</p>
    }
</div>
<div>
    @Html.ActionLink("Sửa", "Edit", new { roomTypeId = Model.Id }, 
    new { @class = "button1 button-warning" })
</div>