@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.DTO.RoomType.RoomTypeResponse

<div>
    <h2>Chi tiết Loại @Model.Name</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayName("Tên loại phòng")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Mô tả")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Số lượng tối đa người ở")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.MaximumOccupancy)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Trạng thái")</dt>
        <dd class="col-sm-10">@StatusHelper.DisplayStatusBadge(Model.Status)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Thời gian tạo")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedTime)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Được tạo bởi")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedBy)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Thời gian sửa")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedTime)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Được sửa bởi")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedBy)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Xóa")</dt>
        <dd class="col-sm-10">@(Model.Deleted ? "Đã xóa" : "Chưa xóa")</dd>
        <dt class="col-sm-2">@Html.DisplayName("Thời gian xóa")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedTime)</dd>
        <dt class="col-sm-2">@Html.DisplayName("Được xóa bởi")</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedBy)</dd>
    </dl>
</div>

<div>
    <hr />
    <h3>Danh sách tiện ích của @Model.Name</h3>
    @if (Model.AmenityRooms != null && Model.AmenityRooms.Any())
    {
        <table class="table table-bordered" style="color: whitesmoke">
            <thead>
            <tr>
                <th>Tên tiện ích </th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var amenityRoom in Model.AmenityRooms
                          .Where(amenityRoom => amenityRoom.Status == EntityStatus.Active))
            {
                <tr>
                    <td>@amenityRoom.Amenity.Name</td>
                    <td>@amenityRoom.Amount</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Phòng này hiện không có tiện ích nào được liên kết.</p>
    }
</div>

<div>
    <hr />
    <h3>Danh sách dịch vụ của @Model.Name</h3>
    @if (Model.RoomTypeServices != null && Model.RoomTypeServices.Any())
    {
        <table class="table table-bordered" style="color: whitesmoke">
            <thead>
            <tr>
                <th>Tên dịch vụ </th>
                <th>Số lượng</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var roomTypeService in Model.RoomTypeServices
                          .Where(roomTypeService => roomTypeService.Status == EntityStatus.Active))
            {
                <tr>
                    <td>@roomTypeService.Service.Name</td>
                    <td>@roomTypeService.Amount</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Phòng này hiện không có dịch vụ nào được liên kết.</p>
    }
</div>
