@using System.Diagnostics
@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.DTO.Paging.ResponseData<Domain.DTO.RoomType.RoomTypeResponse>

@{
    ViewData["Title"] = "Index";
}

<h3>Danh sách loại phòng</h3>

<form method="get" action="@Url.Action("Index", new { pageIndex = Model.CurrentPage, pageSize = Model.PageSize })" 
      class="d-flex align-items-center button-group">
    <div class="form-group me-2">
        <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm loại phòng..."
               value="@ViewContext.HttpContext.Request.Query["searchString"]" />
    </div>
    <div class="form-group me-2">
        <select name="status" class="form-select" id="status">
            <option hidden>-- Chọn trạng thái --</option>
            @foreach (var status in Enum.GetValues(typeof(EntityStatus)))
            {
            var statusEnum = (EntityStatus)status;
            <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                @StatusHelper.DisplayNameEntityStatus(statusEnum)
            </option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-outline-success">Lọc</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">Xóa bộ lọc</a>
</form>

<p class="button-group">
    <a asp-action="Create" class="btn btn-primary mt-2">Tạo mới</a>
    <a asp-action="RoomTypesPdf" class="btn btn-danger mt-2 ms-1">Xem file PDF</a>
    <a asp-action="Trash" class="button1 button-trash">
        <img src="@Url.Content("~/images/icons/bin.png")">
        Thùng rác
    </a>
</p>

<table class="table" >
    <thead>
    <tr>
        <th style="width: 15%">Tên loại phòng</th>
        <th style="width: 20%">Mô tả</th>
        <th style="width: 15%">Số lượng người ở</th>
        <th style="width: 10%">Trạng thái</th>
        <th style="width: 10%">Số lượng</th>
        <th style="width: 10%">Chức năng</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var roomType in Model.data)
    {
        <tr>
            <td>@roomType.Name</td>
            <td>@roomType.Description</td>
            <td>@roomType.MaximumOccupancy</td>
            <td>@StatusHelper.DisplayStatusBadge(roomType.Status)</td>
            <td>@roomType.Quantity</td>
            <td>
                <div class="dropdown">
                    <button class="button1" type="button" id="dropdownMenuButton-@roomType.Id"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@Url.Content("~/images/icons/menu.png")">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@roomType.Id">
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { roomTypeId = roomType.Id },
                            new { @class = "dropdown-item" })
                        @Html.ActionLink("Chi tiết", "Details", new { roomTypeId = roomType.Id },
                            new { @class = "dropdown-item" })
                        @Html.ActionLink("Xóa", "Delete", new { roomTypeId = roomType.Id },
                            new { @class = "dropdown-item text-danger" })
                    </ul>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <nav>
        <ul class="pagination">
            @for (var i = 1; i <= Model.totalPage; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new {
                       pageIndex = i,
                       pageSize = Model.PageSize,
                       searchString = Context.Request.Query["searchString"].ToString(),
                       status = Context.Request.Query["status"].ToString()})">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>