@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.Models.PostType

@{
    ViewData["Title"] = "Edit";
}

<h3>Chỉnh sửa</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleOfType" class="control-label">Loại bài đăng</label>
                <select asp-for="TitleOfType" class="form-control">
                    <option disabled>-- Chọn loại bài đăng --</option>
                    @foreach (var titleOfType in Enum.GetValues(typeof(PostTypeEnum)))
                    {
                        var titleOfTypeEnum = (PostTypeEnum)titleOfType;
                        <option value="@((int)titleOfTypeEnum)" selected="@(Model.TitleOfType == titleOfTypeEnum)">
                            @PostTypeHelper.DisplayPostType(titleOfTypeEnum)
                        </option>
                    }
                </select>
                <span asp-validation-for="TitleOfType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label1">Trạng thái</label>
                <select name="status" class="form-select" id="status">
                    @foreach (var status in Enum.GetValues(typeof(EntityStatus)))
                    {
                        var statusEnum = (EntityStatus)status;
                        <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                            @StatusHelper.DisplayNameEntityStatus(statusEnum)
                        </option>
                    }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
