@model Domain.Models.Floor
@{
    Layout = "_AdminLayout";
}
<h3>Delete Floor</h3>

<div>
    <h4>Are you sure you want to delete this floor?</h4>
    <h5>@Model.Name</h5>
    <p>Id: @Model.Id</p>
    <p>Number Of Room: @Model.NumberOfRoom</p>
    <p>Status: @Model.Status</p>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    <input type="hidden" asp-for="DeletedTime" value="@DateTime.UtcNow" />
</form>
