@page "/Customer/Create"
@using View.Models.Customer
@model CustomerCreateRequest

@{
    ViewBag.Title = "Create Customer";
}

<h2>Create Customer</h2>

@using (Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post))
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)

    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.PhoneNumber)
    @Html.TextBoxFor(m => m.PhoneNumber)

    @Html.LabelFor(m => m.Gender)
    @Html.DropDownListFor(m => m.Gender, new SelectList(new List<SelectListItem> {
        new SelectListItem { Value = "1", Text = "Nam" },
        new SelectListItem { Value = "0", Text = "Nữ" },
        new SelectListItem { Value = "2", Text = "Không muốn đề cập" }
    }, "Value", "Text"))

    @Html.LabelFor(m => m.DateOfBirth)
    @Html.TextBoxFor(m => m.DateOfBirth, "{0:yyyy-MM-dd}", new { @type = "datetime" })

    @Html.LabelFor(m => m.Status)
    @Html.TextBoxFor(m => m.Status)

    <input type="submit" value="Create Customer" />
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="error">@ViewBag.ErrorMessage</div>
}