@using Domain.DTO.Paging;
@using View.Views.Shared.Helper
@model ResponseData<Domain.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}
<h3>Index</h3>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Tạo mới</a>
</p>

<form method="get" action="@Url.Action("Index", new { pageIndex = Model.CurrentPage, pageSize = Model.PageSize })">
    <div class="input-group mb-3 w-100">
        <input type="text" id="userName" name="userName" class="form-control me-2" placeholder="User Name" value="@Context.Request.Query["userName"]" style="max-width: 200px;" />
        <input type="text" name="phoneNumber" id="phoneNumber" class="form-control me-2" value="@Context.Request.Query["phoneNumber"]" placeholder="Phone Number" style="max-width: 200px;" />
        <input type="text" name="email" id="email" class="form-control me-2" value="@Context.Request.Query["email"]" placeholder="Email" style="max-width: 200px;" />

        <button class="btn btn-secondary ms-2" type="submit">Lọc</button>
        <button type="submit" class="btn btn-danger ms-2" onclick="clearFilters()">Xóa bộ lọc</button>
    </div>
</form>

<script>
    function clearFilters() {
        document.getElementById('userName').value = '';
        document.getElementById('phoneNumber').value = '';
        document.getElementById('email').value = '';
    }
</script>


<table class="table">
    <thead>
        <tr>
            <th> Tên tài khoản </th>
            <th> Họ </th>
            <th> Tên </th>
            <th> @Html.DisplayNameFor(model => model.data.First().Email)</th>
            <th> Số điện thoại </th>
            <th> Giới tính </th>
            <th> Ngày sinh nhật </th>
            <th> Trạng thái </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.data)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                <td> @Html.DisplayFor(modelItem => item.FirstName)</td>
                <td> @Html.DisplayFor(modelItem => item.LastName)</td>
                <td> @Html.DisplayFor(modelItem => item.Email)</td>
                <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@GenderHelper.DisplayGenderBadge(item.Gender ?? Domain.Enums.GenderType.Unknown)</td>
                <td> @Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                <td> @StatusHelper.DisplayStatusBadge(item.Status)</td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id },
                             new { @class = "btn btn-warning" })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id },
                             new { @class = "btn btn-info" })
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id },
                             new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            @for (var i = 1; i <= Model.totalPage; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { 
                        pageIndex = i, 
                        pageSize = Model.PageSize,
                        serviceName = Context.Request.Query["userName"].ToString(),
                        serviceTypeId = Context.Request.Query["phoneNumber"].ToString(),
                        status = Context.Request.Query["email"].ToString()})">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>