@{
    @using Microsoft.Extensions.Primitives

    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    var periods = ViewBag.Periods as List<string>;
    var totalAmounts = ViewBag.TotalAmounts as List<decimal>;
    var topCustomers = ViewBag.TopCustomers as List<Domain.DTO.Room.TopCustomerBooking>;
    var coverageRatio = ViewBag.CoverageRatio ;
    var topRooms = ViewBag.TopRooms as List<Domain.DTO.Room.TopRoomBookingViewModel>;
    var revenueFilterType = HttpContextAccessor.HttpContext.Request.Query["revenueFilterType"].ToString();
}

<div style="display: flex; flex-direction: row; gap: 20px;margin-left: 23px">

    <!-- Phần Biểu đồ Doanh Thu (chiếm 70%) -->
    <div style="flex: 7; padding-right: 20px;margin-top:21px">
        <h3 style="display: inline-block;">Biểu Đồ Doanh Thu</h3>
        <form method="get" action="@Url.Action("Index")" style="display: inline-block; margin-bottom: 1px">
            <!-- Hidden inputs để giữ giá trị lọc từ các form khác -->
            <input type="hidden" name="SelectedMonthCustomer" value="@ViewBag.SelectedMonthCustomer" />
            <input type="hidden" name="SelectedYearCustomer" value="@ViewBag.SelectedYearCustomer" />
            <input type="hidden" name="SelectedMonthRoom" value="@ViewBag.SelectedMonthRoom" />
            <input type="hidden" name="SelectedYearRoom" value="@ViewBag.SelectedYearRoom" />

            <!-- Select để lọc kiểu biểu đồ doanh thu -->
            <select id="revenueFilterType" name="revenueFilterType" class="form-control" onchange="this.form.submit()" style="width: auto">
                <option value="Month" selected="@(revenueFilterType == "Month" ? "selected" : null)">Tháng</option>
                <option value="Year" selected="@(revenueFilterType == "Year" ? "selected" : null)">Năm</option>
            </select>
        </form>

        <hr style="height: 0.1px">



        <canvas id="revenueChart" width="400" height="200"></canvas>
    </div>

    <!-- Phần Top Khách Hàng (chiếm 30%) -->
    <div style="flex: 3;">
        <form method="get" action="@Url.Action("Index")" style="margin-top:20px">
            <input type="hidden" name="SelectedMonthRoom" value="@ViewBag.SelectedMonthRoom" />
            <input type="hidden" name="SelectedYearRoom" value="@ViewBag.SelectedYearRoom" />
            <input type="hidden" name="revenueFilterType" value="@revenueFilterType" />

            <label for="SelectedMonthCustomer">Tháng:</label>
            <select id="SelectedMonthCustomer" name="SelectedMonthCustomer" class="form-control" style="width: 80px; display: inline-block;">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i" selected="@(i == ViewBag.SelectedMonthCustomer ? "selected" : null)">@i</option>
                }
            </select>

            <label for="SelectedYearCustomer">Năm:</label>
            <select id="SelectedYearCustomer" name="SelectedYearCustomer" class="form-control" style="width: 100px; display: inline-block;">
                @for (int i = DateTime.Now.Year; i >= 2024; i--)
                {
                    <option value="@i" selected="@(i == ViewBag.SelectedYearCustomer ? "selected" : null)">@i</option>
                }
            </select>

            <button type="submit" class="btn btn-primary" style="margin-left: 10px;margin-bottom:5px">Lọc</button>
        </form>

        <hr>

        @* Lấy tháng và năm từ query string, nếu không có thì sử dụng tháng/năm hiện tại *@
        @{
            var selectedMonth = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["SelectedMonthCustomer"].FirstOrDefault() ?? DateTime.Now.Month.ToString());
            var selectedYear = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["SelectedYearCustomer"].FirstOrDefault() ?? DateTime.Now.Year.ToString());
            var filterTypeDisplay = $"{selectedMonth}/{selectedYear}"; // Ví dụ: "5/2024"
        }

        @if (topCustomers == null || !topCustomers.Any())
        {
            <h3 style="margin-top:-4px">Top Khách hàng @filterTypeDisplay</h3>
            <hr style="width: 85%; height: 1px; border: none; background-color: #ccc; margin: 10px 0;">
            <p>Không có dữ liệu để hiển thị.</p>
        }
        else
        {
            <h3 style="margin-top:-4px">Top Khách hàng @filterTypeDisplay</h3>
            <hr style="width: 85%; height: 1px; border: none; background-color: #ccc; margin: 10px 0;">

            <div class="top-customer-list">
                @foreach (var customer in topCustomers)
                {
                    <div class="top-customer-card" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Details", "Customer", new { id = customer.Id })'">
                        <div class="top-customer-icon">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="top-customer-info">
                            <h5>@($"{customer.FirstName} {customer.LastName}")</h5>
                            <p>Tiền: @customer.TotalPrice VND / Lần đặt: @customer.BookingCount</p>
                        </div>
                    </div>
                }
            </div>


        }

    </div>


    <style>

        .top-customer-list {
        display: flex;
        flex-direction: column;
        background-color: #f8f9fa;
        width: 85%; /* Chiếm 95% chiều ngang của phần chứa */
        border-radius: 0; /* Làm góc nhọn */
        }




        .top-customer-card {
        display: flex;
        align-items: center;
        padding: 8px;
        background-color: white;
        border-radius: 0px;
        transition: transform 0.2s;
        }

        .top-customer-card:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        .top-customer-icon {
        font-size: 40px;
        color: #007bff;
        margin-left: 11px;
        }

        .top-customer-info{
        margin-left: 10px;
        }
        .top-customer-info h5 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        }

        .top-customer-info p {
        margin: 5px 0 0 0;
        font-size: 14px;
        color: #666;
        }

        .top-customer-card:nth-child(odd) {
        background-color: white; /* Màu nền trắng cho các khách hàng lẻ (odd) */
        }

        .top-customer-card:nth-child(even) {
        background-color: #f1f1f1; /* Màu nền xám cho các khách hàng chẵn (even) */
        }
    </style>


</div>
<hr style="height: 1px">
<!-- Coverage ratio -->
<div style="flex: 3;">
    <div style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 20px; width: 100%;">
        <h3 style="margin-right: 20px;">Tỉ lệ phủ</h3>
        <form method="get" action="@Url.Action("Index")" style="display: flex; align-items: center; margin-right: 20px;">
            <label for="Month">Tháng:</label>
            <select id="Month" name="Month" class="form-control" style="width: 80px; display: inline-block; margin-right: 10px;">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i" selected="@(i == ViewBag.Month ? "selected" : null)">@i</option>
                }
            </select>

            <label for="Year">Năm:</label>
            <select id="Year" name="Year" class="form-control" style="width: 100px; display: inline-block; margin-right: 10px;">
                @for (int i = DateTime.Now.Year; i >= 2024; i--)
                {
                    <option value="@i" selected="@(i == ViewBag.Year ? "selected" : null)">@i</option>
                }
            </select>

            <button type="submit" class="btn btn-primary" style="margin-bottom:5px">Lọc</button>
        </form>

        @if (coverageRatio != null)
        {
            <div style="font-size: 1.5rem; font-weight: bold; color: #4CAF50; padding: 10px; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); display: inline-block; margin-left: 20px;">
                @coverageRatio %
            </div>
        }
    </div>

    <hr>

    @{
        var month = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["Month"].FirstOrDefault() ?? DateTime.Now.Month.ToString());
        var year = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["Year"].FirstOrDefault() ?? DateTime.Now.Year.ToString());
    }

    @if (coverageRatio == null)
    {
        <p>Không có dữ liệu để hiển thị.</p>
    }
</div>




</div>

@* <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<!-- Thêm một số CSS để tạo kiểu cho các card -->
<style>
    .top-customer-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .top-customer-card {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 10px;
        width: 200px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .top-customer-card i {
        color: #4CAF50;
    }

    .top-customer-info h5 {
        font-size: 18px;
        margin-top: 10px;
        color: #333;
    }

    .top-customer-info p {
        font-size: 14px;
        color: #555;
    }
</style> *@


<div style="margin-left: 20px;margin-top: 20px">
    <!-- Tiêu đề động theo tháng/năm -->
    @{
        // Lấy giá trị tháng và năm từ query string
        var selectedMonth1 = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["SelectedMonthRoom"].FirstOrDefault() ?? DateTime.Now.Month.ToString());
        var selectedYear1 = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["SelectedYearRoom"].FirstOrDefault() ?? DateTime.Now.Year.ToString());

        // Cập nhật tiêu đề theo tháng và năm đã chọn
        var filterTypeDisplay1 = $"Top Phòng Đặt {selectedMonth1}/{selectedYear1}";
    }
    <h3>@filterTypeDisplay1</h3>

    <form method="get" action="@Url.Action("Index")">
        <input type="hidden" name="SelectedMonthCustomer" value="@ViewBag.SelectedMonthCustomer" />
        <input type="hidden" name="SelectedYearCustomer" value="@ViewBag.SelectedYearCustomer" />
        <input type="hidden" name="revenueFilterType" value="@revenueFilterType" />

        <label for="SelectedMonthRoom">Tháng:</label>
        <select id="SelectedMonthRoom" name="SelectedMonthRoom" class="form-control" style="width: 80px; display: inline-block;">
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i" selected="@(i == ViewBag.SelectedMonthRoom ? "selected" : null)">@i</option>
            }
        </select>

        <label for="SelectedYearRoom">Năm:</label>
        <select id="SelectedYearRoom" name="SelectedYearRoom" class="form-control" style="width: 100px; display: inline-block;">
            @for (int i = DateTime.Now.Year; i >= 2024; i--)
            {
                <option value="@i" selected="@(i == ViewBag.SelectedYearRoom ? "selected" : null)">@i</option>
            }
        </select>

        <button type="submit" class="btn btn-primary" style="margin-left: 10px;margin-bottom:5px">Lọc</button>
    </form>

    @if (topRooms == null || !topRooms.Any())
    {
        <p>Không có dữ liệu để hiển thị.</p>
    }
    else
    {
        <table class="table table-striped table-bordered table-hover" style="width: 100%; overflow: hidden;">
            <thead>
                <tr style="background-color: #073a4b; color: white;">
                    <th>#</th>
                    <th>Tên Phòng</th>
                    <th>Loại Phòng</th>
                    <th>Giá</th>
                    <th>Địa chỉ</th>
                    <th>Diện tích (m²)</th>
                    <th>Số lần đặt</th>
                    <th>Hình ảnh</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < topRooms.Count; i++)
                {
                    var room = topRooms[i];
                    <tr style="background-color: #f9f9f9; border-bottom: 1px solid #ddd;">
                        <td>@(i + 1)</td>
                        <td>@room.Name</td>
                        <td>@room.RoomTypeName</td>
                        <td>@room.Price.ToString("C")</td>
                        <td>@room.Address</td>
                        <td>@room.RoomSize</td>
                        <td>@room.BookingCount</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                @if (room.Images != null && room.Images.Any())
                                {
                                    var firstImage = room.Images.FirstOrDefault();
                                    var extension = System.IO.Path.GetExtension(firstImage);
                                    if (new[] { ".jpg", ".jpeg", ".png", ".gif" }.Contains(extension.ToLower()))
                                    {
                                        <div class="img-container d-flex justify-content-start" style="width: 100px; height: 100px; margin: 5px;">
                                            <img class="responsive-img" src="~/images/@firstImage" alt="@room.Name" style="object-fit: cover; width: 100%; height: 100%; border-radius: 10px;">
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Không có ảnh</p>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border: 1px solid #ddd; /* Thêm viền cho các ô */
    }

    th {
        background-color: #073a4b;
        color: white;
        font-size: 16px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    td {
        background-color: #f9f9f9;
        font-size: 14px;
        color: #333;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    img {
        border-radius: 8px; /* Bỏ bo góc của ảnh */
    }

    table tr td, table tr th {
        text-align: center;
    }
</style>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('revenueChart').getContext('2d');
    var revenueChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(periods)),
            datasets: [{
                label: 'Tổng Doanh Thu',
                data: @Html.Raw(Json.Serialize(totalAmounts)),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        callback: function(value) {
                            return value.toLocaleString();
                        }
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Thời Gian'
                    }
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    display: true
                }
            }
        }
    });
</script>
