@using Domain.DTO.Amenity
@using Domain.DTO.RoomType
@using Domain.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using View.Views.Shared.Helper
@model Domain.DTO.RoomTypeService.RoomTypeServiceResponse

@{
    ViewData["Title"] = "Details";
}

<h4 class="p-3">Chi tiết dịch vụ thuộc loại phòng</h4>

<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-3">
    Quay lại
</a>

<div class="row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            <label class="control-label1">Tên dịch vụ</label>
            <dd class="col-sm-10">
                @{
                    var services = ViewBag.ServiceList as List<Service>;
                    var service = services?.FirstOrDefault(a => a.Id == Model.ServiceId);
                }
                @service?.Name
            </dd>
        </div>
        <div class="form-group mb-3">
            <label class="control-label1">Loại phòng</label>
            <dd class="col-sm-10">
                @{
                    var roomTypes = ViewBag.RoomTypes as List<RoomTypeResponse>;
                    var roomType = roomTypes?.FirstOrDefault(r => r.Id == Model.RoomTypeId);
                }
                @roomType?.Name
            </dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Trạng thái</label>
            <dd class="col-sm-10">@StatusHelper.DisplayStatusBadge(Model.Status)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Số lượng</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Amount)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Thời gian tạo</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedTime)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Được tạo bởi</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedBy)</dd>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-group mb-3">
            <label class="control-label1">Thời gian tạo</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedTime)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Được tạo bởi</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedBy)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Thời gian sửa</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedTime)</dd>
        </div>
        
        <div class="form-group mb-3">
            <label class="control-label1">Được sửa bởi</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ModifiedBy)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Xóa</label>
            <dd class="col-sm-10">@(Model.Deleted ? "Đã xóa" : "Chưa xóa")</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Thời gian xóa</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedTime)</dd>
        </div>

        <div class="form-group mb-3">
            <label class="control-label1">Được xóa bởi</label>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.DeletedBy)</dd>
        </div>
    </div>
</div>
