@using Domain.DTO.Amenity
@using Domain.DTO.RoomType
@using Domain.DTO.Service
@using Domain.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using View.Views.Shared.Helper
@model System.Collections.Generic.List<Domain.DTO.RoomTypeService.RoomTypeServiceResponse>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách dịch vụ loại phòng</h1>

<form method="get" asp-action="Index" class="d-flex align-items-center">
    <div class="form-group me-2">
        <input type="text" name="search" class="form-control" placeholder="Nhập dịch vụ hoặc loại phòng"
               value="@ViewContext.HttpContext.Request.Query["search"]" />
    </div>
    <button type="submit" class="btn btn-light">Tìm kiếm</button>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary mt-2">Tạo mới</a>
    <a asp-action="Trash" class="btn btn-outline-danger mt-2 ms-1">Thùng rác</a>
</p>

<table class="table" style="color: whitesmoke">
    <thead>
    <tr>
        <th style="width: 150px">@Html.DisplayName("Loại phòng")</th>
        <th style="width: 150px">@Html.DisplayName("Dịch vụ sử dụng")</th>
        <th style="width: 100px">@Html.DisplayName("Số lượng")</th>
        <th style="width: 150px">@Html.DisplayName("Trạng thái")</th>
        <th style="width: 200px">@Html.DisplayName("Chức năng")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                var roomTypes = ViewBag.RoomTypes as List<RoomTypeResponse>;
                var roomType = roomTypes?.FirstOrDefault(r => r.Id == item.RoomTypeId);
                }
                @roomType?.Name
            </td>
            <td>
                @{
                var services = ViewBag.ServiceList as List<Service>;
                var service = services?.FirstOrDefault(a => a.Id == item.ServiceId);
                }
                @service?.Name
            </td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
            <td>@StatusHelper.DisplayStatusBadge(item.Status)</td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { roomTypeServiceId = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Chi tiết", "Details", new { roomTypeServiceId = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { roomTypeServiceId = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>