@using Domain.DTO.RoomType
@using Domain.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using View.Views.Shared.Helper
@model Domain.DTO.Paging.ResponseData<Domain.DTO.RoomTypeService.RoomTypeServiceResponse>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h3>Danh sách dịch vụ thuộc loại phòng đã xóa</h3>

<form method="get" action="@Url.Action("Trash", new { pageIndex = Model.CurrentPage, pageSize = Model.PageSize })" class="d-flex align-items-center">
    <div class="form-group me-2">
        <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm"
               value="@ViewContext.HttpContext.Request.Query["searchString"]" />
    </div>
    <!-- Dropdown chọn RoomType -->
    <div class="form-group me-2">
        <select name="roomTypeId" class="form-select" id="roomType">
            <option value="">Chọn loại phòng</option>
            @foreach (var roomType in ViewBag.RoomTypes)
            {
            <option value="@roomType.Id" selected="@(Context.Request.Query["roomTypeId"] == roomType.Id.ToString())">
                @roomType.Name
            </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-light">Tìm kiếm</button>
    <a href="@Url.Action("Trash")" class="btn btn-secondary ms-2">Xóa lọc</a>
</form>

<p>
    <a asp-action="Index" class="btn btn-outline-secondary mt-2">Quay lại</a>
</p>

<table class="table" style="color: whitesmoke">
    <thead>
    <tr>
        <th>@Html.DisplayName("Loại phòng")</th>
        <th>@Html.DisplayName("Dịch vụ sử dụng")</th>
        <th>@Html.DisplayName("Số lượng")</th>
        <th>@Html.DisplayName("Trạng thái")</th>
        <th>@Html.DisplayName("Chức năng")</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var roomTypeService in Model.data)
    {
        <tr>
            <td style="width: 15%">@roomTypeService.RoomTypeName</td>
            <td style="width: 15%">@roomTypeService.ServiceName</td>
            <td style="width: 10%">@roomTypeService.Amount</td>
            <td style="width: 15%">@StatusHelper.DisplayStatusBadge(roomTypeService.Status)</td>
            <td style="width: 30%">
                @Html.ActionLink("Phục hồi", "Recover", new { roomTypeServiceId = roomTypeService.Id }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <nav>
        <ul class="pagination">
            @for (var i = 1; i <= Model.totalPage; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new {
                        pageIndex = i,
                        pageSize = Model.PageSize,
                        searchString = Context.Request.Query["searchString"].ToString(),
                        status = Context.Request.Query["status"].ToString()})">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>