@using Domain.DTO.Paging
@using View.Views.Shared.Helper
@model ResponseData<Domain.DTO.ResidenceRegistration.ResidenceResponse>

@{
    ViewData["Title"] = "GetResidenceByDate";
}

<h3>Danh sách lưu trú</h3>

<form method="get" action="@Url.Action("GetResidenceByDate")" class="p-3 bg-light rounded shadow-sm">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label for="filters" class="form-label fw-bold mb-0">Lọc theo:</label>
        </div>
        
        <div class="col-auto ">
            <input type="date" id="dateFilter" name="date" class="form-control"
                   value="@Context.Request.Query["date"].ToString()" placeholder="Lọc theo ngày" />
        </div>

        <div class="col-auto ">
            <input type="text" id="fullNameFilter" name="fullName" class="form-control"
                   value="@Context.Request.Query["fullName"].ToString()" placeholder="Tên khách" />
        </div>

        <div class="col-auto ">
            <input type="text" id="identityNumberFilter" name="identityNumber" class="form-control"
                   value="@Context.Request.Query["identityNumber"].ToString()" placeholder="Căn cước" />
        </div>

        <div class="col-auto">
            <input type="text" id="roomNameFilter" name="roomName" class="form-control"
                   value="@Context.Request.Query["roomName"].ToString()" placeholder="Tên phòng" />
        </div>

        @* <div class="col-auto w-25">
            <select id="isCheckedOutFilter" name="isCheckedOut" class="form-select">
                <option value="" @(Context.Request.Query["isCheckOut"].ToString() == "" ? "selected" : "")>Trạng thái checkout</option>
                <option value="0" @(Context.Request.Query["isCheckOut"].ToString() == "0" ? "selected" : "")>Chưa checkout</option>
                <option value="1" @(Context.Request.Query["isCheckOut"].ToString() == "1" ? "selected" : "")>Đã checkout</option>
            </select>
        </div> *@

        <div class="col-auto">
            <button type="submit" class="btn btn-outline-success ms-2">Lọc</button>
            <button type="submit" class="btn btn-danger" onclick="clearFilters()">Xóa lọc</button>
        </div>
    </div>
</form>

<script>
    function clearFilters() {
        document.getElementById('dateFilter').value = '';
        document.getElementById('fullNameFilter').value = '';
        document.getElementById('identityNumberFilter').value = '';
        document.getElementById('roomNameFilter').value = '';
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th>Phòng</th>
            <th>Khách</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>CCCD</th>
            <th>SĐT</th>@* 
            <th>Giờ checkin</th>
            <th>Giờ checkout</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.data)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RoomName)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.IdentityNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>@* 
                <td>@Html.DisplayFor(modelItem => item.CheckInTime)</td>
                <td>@Html.DisplayFor(modelItem => item.CheckOutTime)</td>      *@           
            </tr>
        }
    </tbody>
</table>

<div>
    <nav>
        <ul class="pagination">
            @for (var i = 1; i <= Model.totalPage; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("GetResidenceByDate", new {
                        pageIndex = i,
                        pageSize = Model.PageSize,
                        date = Context.Request.Query["date"].ToString(),
                        fullName = Context.Request.Query["fullName"].ToString(),
                        identityNumber = Context.Request.Query["identityNumber"].ToString(),
                        roomName = Context.Request.Query["roomName"].ToString(),
                        isCheckedOut = Context.Request.Query["isCheckOut"].ToString()
                    })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
