@using Domain.DTO.RoomBooking
@model decimal

@{
    var roomBooking = (RoomBookingResponse)ViewBag.RoomBooking;
    var message = (string)ViewBag.Message;
    var amountToPay = ViewBag.AmountToPay != null ? (decimal)ViewBag.AmountToPay : 0;
    var totalPaid = ViewBag.TotalPaid != null ? (decimal)ViewBag.TotalPaid : 0;
    var expenses = ViewBag.Expenses != null ? (decimal)ViewBag.Expenses : 0;
    var service = ViewBag.Service != null ? (decimal)ViewBag.Service : 0;
    var extra = ViewBag.Extra != null ? (decimal)ViewBag.Extra : 0;

}

<div class="container mt-5">
    <h2 class="text-center">Thêm Thanh Toán</h2>
    <div class="card shadow mt-4">
        <div class="card-header">
            <h5 class="card-title">Thông Tin Thanh Toán</h5>
        </div>
        <div class="card-body">
            <p><strong>Tên khách hàng:</strong> @roomBooking.CustomerFullName</p>
            <p><strong>Tổng tiền dịch vụ:</strong> @service.ToString("N0")</p>
            <p><strong>Tổng tiền phụ thu:</strong> @extra.ToString("N0")</p>
            <p><strong>Tổng tiền hao phí:</strong> @expenses.ToString("N0")</p>
            <p><strong>Tổng giá trị hóa đơn:</strong> @roomBooking.TotalPrice.Value.ToString("N0") VND</p>
            <p><strong>Tổng tiền phải trả thực tế:</strong> @roomBooking.TotalPriceReality VND</p>
            <p><strong>Đã thanh toán:</strong> @totalPaid.ToString("N0") VND</p>
            <p><strong>Cần thanh toán:</strong> @amountToPay.ToString("N0") VND</p>
            <p class="text-info"><strong>@message</strong></p>
        </div>
    </div>

    <div class="mt-4">
        <h5>Nhập thông tin thanh toán:</h5>
        <form id="paymentForm" method="post" action="/PaymentHistory/ProcessPayment">
            <input type="hidden" name="RoomBookingId" value="@roomBooking.Id" />
            <div class="form-group mb-3">
                <label for="amount">Số tiền thanh toán:</label>
                <input type="number" class="form-control" id="amount" name="Amount" min="2000" max="@amountToPay" value="@amountToPay" required />
            </div>
            <div class="form-group mb-3">
                <label for="paymentMethod">Phương thức thanh toán:</label>
                <select class="form-control" name="PaymentMethod" required>
                    <option value="Cash">Tiền mặt</option>
                    <option id="paymentMethod" value="BankTransfer">Chuyển khoản</option>
                </select>
            </div>
            <button type="submit" style="display:none" class="btn btn-success btn-Thanhtoan">Thanh toán</button>
            <button type="button" class="btn btn-success btn-Thanhtoan" onclick="_Payment.Paid()">Thanh toán</button>
            <a href="/PaymentHistory/Id=@roomBooking.Id" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script asp-append-version="true" src="~/modules/payment.js"></script>
    <!-- Thêm Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Thêm Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}


