@using Domain.DTO.RoomBooking
@using System.Globalization
@using Domain.Models;
@{
    var client = (Customer)ViewBag.Client;
    var idRoomBooking = ViewBag.IdRoomBooking;
    var RB = (RoomBookingResponse)ViewBag.RB;
}
@{
    decimal totalPrice = 0;
    CultureInfo culture = new CultureInfo("vi-VN"); // Tạo CultureInfo cho Việt Nam
    NumberFormatInfo nfi = (NumberFormatInfo)culture.NumberFormat.Clone();
    nfi.NumberGroupSeparator = ","; // Thay dấu chấm bằng dấu phẩy
    nfi.CurrencyGroupSeparator = ","; // Quan trọng: áp dụng cho cả định dạng tiền tệ
}
<style>
    .text-color-blue{
        color: #92979d !important;
    }

    .table-scroll {
        overflow-x: scroll;
        scroll-behavior: smooth;
        max-width:100%;
    }

    .hid{
        display : none;
    }

    .element-shadow{
        box-shadow: 1px 2px 3px;
    }
</style>
<div class="m-3" style="min-height:600px;">
    <div style="" class="m-2">
        <div id="list_room_add" class="rounded-2 p-2 element-shadow" style="min-height:300px;">
            <div class="d-flex justify-content-between mb-3">
                <h2 class="text-color-blue">Danh sách phòng</h2>
            </div>
            <div class="d-flex mb-3 justify-content-between">
                <div class="d-flex" style="width:49%">
                    <button class="btn fw-bold" id="room_num" style="background-color:#afb2b4;color:#fff">Tổng số phòng trống: 0</button>
                    <button class="btn color-blue ms-2 fw-bold" id="ocupan" style="background-color:#afb2b4;color:#fff">Tổng sức chứa: 0</button>
                </div>
                <div>                  
                    <button class="btn btn-outline-warning ms-auto" onclick="loadPaymentHistory('@idRoomBooking')">Lịch sử thanh toán</button>
                </div>
            </div>
            <div class="datepicker-wrap mt-3 mb-3 d-flex justify-content-between" style="width:100%">
                <div style="width:49%" class="">
                    <label for="" style="width:90px;" class="form-label">Ngày nhận : </label>
                    <input id="fromDate" onchange="_roombooking_detail.OnchangeFromDate()" class="form-control" placeholder="Ngày nhận" type="date" name="fromDate">
                </div>
                <div style="width:49%" class="">
                    <label for="" style="width:90px;" class="form-label">Ngày trả : </label>
                    <input id="toDate" onchange="_roombooking_detail.OnchangetoDate()" class="form-control" placeholder="Ngày trả" type="date" name="toDateDate">
                </div>
            </div>
            <div class="d-flex mb-3 justify-content-between">
                <div class="d-flex justify-content-between" style="width:49%">
                    <select class="select2 m-2" id="RoomType_Id" style="width:49%">
                    </select>
                    <select class="select2 m-2" id="Floor_Id" style="width:49%">
                    </select>
                </div>
                <div class="d-flex ms-2 justify-content-end" style="width:45%">
                    <input type="number" class="rounded-2" name="minprice" oninput="_roombooking_detail.OnchangeMinRoom()" id="min_room" placeholder="Giá min" min="0" value="">
                    <input class="ms-2 rounded-2" type="number" oninput="_roombooking_detail.OnchangeMaxRoom()" id="max_room" name="maxprice" min="0" placeholder="Giá max" value="">
                </div>
            </div>
            <input id="IdRoomBooking" style="display:none" value="@ViewBag.IdRoomBooking" />
            <select class="select2 m-2" id="room_Id" style="width:100%">
            </select>
            <div class="table-responsive table-scroll">
                <table class="table table-nowrap table-bordered mt-3 rounded-3">
                    <thead>
                        <tr class="">
                            <th scope="col" style="min-width:50px">#</th>
                            <th scope="col" style="min-width:180px">Tên Phòng</th>
                            <th scope="col">Giá phòng (/ đêm)</th>
                            @* <th scope="col">Tiền cọc</th> *@
                            <th scope="col">Ngày nhận dự kiến</th>
                            <th scope="col">Ngày trả dự kiến</th>
                            <th scope="col">Thành tiền</th>
                            @* <th scope="col" style="min-width:150px">Phụ thu</th> *@
                            <th scope="col">Ngày nhận thực tế</th>
                            <th scope="col">Ngày trả thực tế</th>
                            @* <th scope="col" style="min-width:150px">Phí hư tổn</th> *@
                            @* <th scope="col" style="min-width:150px">Ghi chú</th> *@
                            <th scope="col" style="min-width:150px">Trạng thái</th>
                            @* <th scope="col" style="min-width:150px">Trạng thái phòng</th> *@
                            <th scope="col" style="min-width:180px">Action</th>
                        </tr>
                    </thead>
                    <tbody id="room-related">
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="d-flex justify-content-end w-100">
                        <ul class="w-100 my-3" style="text-decoration:none !important;">
                            <li class="flex hid list-unstyled justify-content-between mb-2">
                                <div class="fw-bold">Tổng tiền cọc</div>
                                <div class="text-right d-flex">
                                    <div id="total_deposit" class="me-1">0</div> ₫
                                </div>
                            </li>
                            <li class="flex hid list-unstyled justify-content-between mb-2">
                                <div class="text-dark fw-bold">Phụ thu phòng</div>
                                <div class="text-right d-flex">
                                    <div id="TotalExtraPrice" class="me-1">0</div> ₫
                                </div>
                            </li>
                            <li class="flex hid list-unstyled justify-content-between mb-2">
                                <div class="fw-bold" style="color:#00b0f9">Tổng giá ban đầu</div>
                                @if (RB != null && decimal.TryParse(RB.TotalPrice?.ToString(), out totalPrice))
                                {
                                // Chuyển đổi thành công
                                    <div class="text-right d-flex">
                                        <div id="TotalStart">@totalPrice.ToString("C0", nfi)</div>
                                    </div>
                                }
                                else
                                {
                                // Xử lý khi RB null hoặc không thể chuyển đổi
                                    <div class="text-right d-flex">
                                        <div id="TotalStart" class="me-1">0</div> ₫
                                    </div>
                                }
                            </li>
                        </ul>
                        <ul class="w-100 my-3" style="text-decoration:none !important;">
                            <li class="flex hid list-unstyled justify-content-between mb-2">
                                <div class="text-dark fw-bold">Phụ thu dịch vụ</div>
                                <div class="text-right d-flex">
                                    <div id="total_service_extra_price" class="me-1">0</div> ₫
                                </div>
                            </li>
                            <li class="flex list-unstyled justify-content-between mb-2">
                                <div class="text-dark fw-bold">Tổng giá các phòng</div>
                                <div class="text-right d-flex">
                                    <div id="total_roomprice" class="me-1">0</div> ₫
                                </div>
                            </li>
                            <li class="flex hid list-unstyled justify-content-between mb-2">
                                <div class="text-dark fw-bold">Tổng giá dịch vụ</div>
                                <div class="text-right d-flex">
                                    <div id="total_service_price" class="me-1">0</div> ₫
                                </div>
                            </li>
                            <li class="flex hid list-unstyled justify-content-between mb-2">
                                <div class="text-dark fw-bold">Tổng hư tổn</div>
                                <div class="text-right d-flex">
                                    <div id="TotalExpense" class="me-1">0</div> ₫
                                </div>
                            </li>
                            <li class="flex hid list-unstyled justify-content-between mb-2">
                                <div class=" fw-bold" style="color:rgb(244 168 175)">Tổng giá thực tế</div>
                                <div class="text-right d-flex">
                                    <div id="total_price" class="me-1">0</div> ₫
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="">
            <div id="form_add_Cus" class="mt-4 p-2 rounded-2 element-shadow" style="height:300px;width:100%">
                <h2 class="text-color-blue">Khách hàng</h2>
                <input id="IdClient" style="display:none" value="@ViewBag.IdClient" />
                <select class="select2 m-2" id="Client_Id" style="width:100%">
                    @if (client != null)
                    {
                        <option value="@client.Id">@(client.UserName + "-" + client.Email)</option>
                    }
                </select>
                <div class="m-2 mt-4">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:95px;" class="form-label">Tên : </label>
                            <input type="text" disabled class="form-control" id="FirstName" placeholder="">
                        </div>
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:80px;" class="form-label">Họ : </label>
                            <input type="text" disabled class="form-control" id="LastName" placeholder="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:95px;" class="form-label">Ngày sinh : </label>
                            <input type="text" disabled class="form-control" id="BirthDay" placeholder="">
                        </div>
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:80px;" class="form-label">giới tính : </label>
                            <input type="text" disabled class="form-control" id="Gender" placeholder="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:95px;" class="form-label">Email :</label>
                            <input type="text" disabled class="form-control" id="Email" placeholder="">
                        </div>
                        <div class="mb-3 d-flex align-items-center" style="width:48%">
                            <label for="" style="width:80px;" class="form-label">SĐT :</label>
                            <input type="text" disabled class="form-control" id="Phone" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-between align-items-center" style="width:100%">
    <div>
        <a class="btn btn-secondary text-decoration-none text-white" href="/roombooking">Quay lại</a>
        @if (RB.Status != Domain.Enums.RoomBookingStatus.CANCELLED
          && RB.Status != Domain.Enums.RoomBookingStatus.PAID
          && RB.Status != Domain.Enums.RoomBookingStatus.FAILED)
        {
            <button class="ms-3 btn btn-success btn-luu" onclick="_roombooking_detail.submit()">Lưu</button>
            <button class="ms-3 btn btn-warning" onclick="_roombooking_detail.BlockedBill('@idRoomBooking')">Đóng đơn đặt phòng</button>
        }
    </div>
    <div>
        @if (idRoomBooking != null && RB.Status != Domain.Enums.RoomBookingStatus.CANCELLED 
        && RB.Status != Domain.Enums.RoomBookingStatus.PAID
        && RB.Status != Domain.Enums.RoomBookingStatus.FAILED)
        {
        @* <a class="btn btn-warning" href="~/PaymentHistory/Id=@idRoomBooking">Chuyển đến trang thanh toán</a> *@
           <a href="/PaymentHistory/AddPayment/@idRoomBooking" class="btn btn-success me-3">Thanh toán</a>
        }
    </div>
</div>
<div class="modal fade" id="paymentHistoryModal" tabindex="-1" aria-labelledby="paymentHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentHistoryModalLabel">Lịch sử thanh toán</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="paymentHistoryContent">Đang tải...</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script>
    function showPaymentHistory(data) {
        const existingModal = document.getElementById('customModal');
        if (existingModal) existingModal.remove();

        const modalContainer = document.createElement('div');
        modalContainer.id = 'customModal';
        modalContainer.style.position = 'fixed';
        modalContainer.style.top = '50%';
        modalContainer.style.left = '50%';
        modalContainer.style.transform = 'translate(-50%, -50%)';
        modalContainer.style.width = '80%';
        modalContainer.style.maxWidth = '1000px';
        modalContainer.style.backgroundColor = 'white';
        modalContainer.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.2)';
        modalContainer.style.borderRadius = '8px';
        modalContainer.style.padding = '16px';
        modalContainer.style.zIndex = '1000';
        modalContainer.style.maxHeight = '80vh';
        modalContainer.style.overflowY = 'auto';

        const modalHeader = document.createElement('div');
        modalHeader.style.display = 'flex';
        modalHeader.style.justifyContent = 'space-between';
        modalHeader.style.alignItems = 'center';
        modalHeader.style.marginBottom = '16px';

        const modalTitle = document.createElement('h5');
        modalTitle.innerText = 'Lịch sử thanh toán';
        modalHeader.appendChild(modalTitle);

        modalContainer.appendChild(modalHeader);

        const table = document.createElement('table');
        table.style.width = '100%';
        table.style.borderCollapse = 'collapse';

        const thead = document.createElement('thead');
        const headerRow = document.createElement('tr');
        ['#', 'Ngày thanh toán', 'Số tiền'].forEach(headerText => {
            const th = document.createElement('th');
            th.innerText = headerText;
            th.style.border = '1px solid #ddd';
            th.style.padding = '8px';
            th.style.textAlign = 'left';
            th.style.backgroundColor = '#f2f2f2';
            headerRow.appendChild(th);
        });
        thead.appendChild(headerRow);
        table.appendChild(thead);

        const tbody = document.createElement('tbody');
        if (data && data.length > 0) {
            data.forEach((payment, index) => {
                const row = document.createElement('tr');

                // Số thứ tự
                const indexCell = document.createElement('td');
                indexCell.innerText = index + 1;
                indexCell.style.border = '1px solid #ddd';
                indexCell.style.padding = '8px';
                row.appendChild(indexCell);

                // Ngày thanh toán
                const dateCell = document.createElement('td');
                dateCell.innerText = payment.paymentTime
                    ? new Date(payment.paymentTime).toLocaleString('vi-VN')
                    : 'Không có';
                dateCell.style.border = '1px solid #ddd';
                dateCell.style.padding = '8px';
                row.appendChild(dateCell);

                // Số tiền
                const amountCell = document.createElement('td');
                amountCell.innerText = payment.amount
                    ? payment.amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })
                    : 'Không có';
                amountCell.style.border = '1px solid #ddd';
                amountCell.style.padding = '8px';
                row.appendChild(amountCell);

                tbody.appendChild(row);
            });
        } 
        table.appendChild(tbody);
        modalContainer.appendChild(table);

        document.body.appendChild(modalContainer);

        // Tạo overlay
        const overlay = document.createElement('div');
        overlay.id = 'customModalOverlay';
        overlay.style.position = 'fixed';
        overlay.style.top = '0';
        overlay.style.left = '0';
        overlay.style.width = '100%';
        overlay.style.height = '100%';
        overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
        overlay.style.zIndex = '998';
        overlay.onclick = function () {
            modalContainer.remove();
            overlay.remove();
        };

        document.body.appendChild(overlay);
    }



    function loadPaymentHistory(IdRoomBooking) {
        $.ajax({
            url: '/PaymentHistory/PaymentHistoryByBookingId',
            type: 'GET',
            data: { IdRoomBooking: IdRoomBooking },
            success: function (data) {
                console.log(data);
                showPaymentHistory(data); 
            },
            error: function () {
                alert('Lỗi');
            }
        });
    }

</script>



@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script asp-append-version="true" src="~/modules/roombooking_detail.js"></script>
    <!-- Thêm Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Thêm Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}
