@using Domain.DTO.RoomBookingDetail
@using View.Views.Shared.Helper
@model Domain.DTO.RoomBookingDetail.RoomBookingDetailResponse

@{
    ViewData["Title"] = "Thông tin chi tiết đặt phòng";
    //var roomBookingDetail = (RoomBookingDetailResponse)ViewBag.roomBookingDetail;
}
<style>
    .element-shadow {
        box-shadow: 1px 2px 3px;
    }
</style>
<div class="m-3">
    <h4>Thông tin chi tiết đặt phòng </h4>
    <input style="display:none" id="SerDetailId" value="@Model.Id" />
    <input style="display:none" id="RB_Id" value="@Model.RoomBookingId" />
    <p class="button-group">
        <button id="checkInButton" data-id="@Model.Id" class="btn btn-primary">
            Check-In
        </button>
        <button id="checkOutButton" data-id="@Model.Id" class="btn btn-danger">
            Check-Out
        </button>
    </p>
    
    <div class="form-group mb-3">
        <button id="btnUpdate" class="btn btn-warning"
                data-room-booking-detail-id="@Model.Id">
            Cập nhật
        </button>
    </div>
    <div class="form-group mb-3">
        <button id="btnResidence" class="btn btn-info"
                data-room-booking-detail-id="@Model.Id">
            Danh sách khách
        </button>
    </div>
    <!-- modal danh sách khách -->
    <div class="modal fade" id="residenceModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="residenceModalLabel">Danh sách khách</h3>
                </div>
                <div class="modal-body">
                    <table class="table" id="residenceTable">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Căn cước</th>
                                <th>SĐT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- data -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div class="d-flex mt-4 p-2 justify-content-between rounded-2 element-shadow" style="min-height:300px;width:100%">
                <div style="width:32%">
                    <div class="form-group mb-3">
                        <label class="control-label1">Phòng</label>
                        <p class="form-control-static bordered-text">@Model.RoomName</p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Ngày nhận</label>
                        <p class="form-control-static bordered-text">
                            @(Model.CheckInBooking.HasValue
                                ? Model.CheckInBooking.Value.ToString("dd/MM/yyyy hh:mm tt")
                                : "Chưa có thông tin")
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Ngày nhận thực tế</label>
                        <input type="text"
                               id="checkInRealityPicker"
                               class="form-control1"
                               placeholder="Chọn thời gian Check-In"
                               value="@(Model.CheckInReality.HasValue ? Model.CheckInReality.Value.ToString("dd/MM/yyyy hh:mm tt") : "")">
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Mô tả Ngày nhận thực tế</label>
                        <textarea id="NoteCheckin" name="noteCheckin" class="form-control" rows="3"></textarea>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="control-label1">Phụ thu</label>
                        <p class="form-control-static bordered-text">@Model.ExtraPrice.ToString("N0")</p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Tổng dịch vụ</label>
                        <p id="total_service_price" class="form-control-static bordered-text">0</p>
                    </div>
                </div>

                <div style="width:32%">
                    <div class="form-group mb-3">
                        <label class="control-label1">Giá tiền / đêm</label>
                        <p class="form-control-static bordered-text">@Model.RoomPrice?.ToString("N0")</p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Ngày trả</label>
                        <p class="form-control-static bordered-text">
                            @(Model.CheckOutBooking.HasValue
                                ? Model.CheckOutBooking.Value.ToString("dd/MM/yyyy hh:mm tt")
                                : "Chưa có thông tin")
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Ngày trả thực tế</label>
                        <input type="text"
                               id="checkOutRealityPicker"
                               class="form-control1"
                               placeholder="Chọn thời gian Check-Out"
                               value="@(Model.CheckOutReality.HasValue ? Model.CheckOutReality.Value.ToString("dd/MM/yyyy hh:mm tt") : "")">
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="control-label1">Mô tả trả trả thực tế</label>
                        <textarea id="NoteCheckout" name="noteCheckout" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Tổng tiền phòng</label>
                        <p class="form-control-static bordered-text">@Model.Price?.ToString("N0")</p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Tổng phụ thu dịch vụ</label>
                        <p id="total_service_extra_price" class="form-control-static bordered-text">0</p>
                    </div>
                </div>

                <div style="width:32%">
                    <div class="form-group mb-3">
                        <label class="control-label1">Trạng thái</label>
                        <p class="form-control-static bordered-text">@StatusHelper.DisplayStatusBadge(Model.Status)</p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Số đêm ở</label>
                        <p class="form-control-static bordered-text">@Model.NumberOfNight</p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1">Phí hư tổn</label>
                        <input id="Expenses" name="Expenses" class="form-control-static bordered-text"
                               placeholder="Nhập phí hư tổn"
                               value="@Model.Expenses?.ToString("N0")" oninput="validateExpenses()" />
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label1" for="Note">Ghi chú</label>
                        <textarea id="Note" name="Note" class="form-control" rows="3" placeholder="Nhập ghi chú">@Model.Note</textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3">
            <div id="" class="mt-4 p-2 rounded-2 element-shadow" style="min-height:300px;width:100%">
                <h2 class="text-color-blue">Dịch vụ</h2>
                <div class="d-flex justify-content-end mb-3">
                    <select class="select2 m-2" multiple="multiple" id="service_type_Id" style="width:100%">
                    </select>
                    <div class="d-flex ms-2">
                        <input type="number" class="rounded-2" name="minprice" oninput="_Service_OrderDetail.OnchangeMinSer()" id="min_Ser" placeholder="Giá min" min="0" value="" />
                        <input class="ms-2 rounded-2" type="number" oninput="_Service_OrderDetail.OnchangeMaxSer()" id="max_Ser" name="maxprice" min="0" placeholder="Giá max" value="" />
                    </div>
                </div>
                <select class="select2 m-2" id="service_Id" style="width:100%">
                </select>
                <div class="table-responsive table-scroll">
                    <table class="table table-nowrap table-bordered mt-3 rounded-3">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">#</th>
                                <th scope="col">Tên dịch vụ</th>
                                <th scope="col">Giá (VNĐ)</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn vị</th>
                                <th scope="col">Thành tiền</th>
                                <th scope="col" style="min-width:100px">Phụ thu</th>
                                <th scope="col">Ghi chú</th>
                                <th scope="col" style="min-width:120px">Action</th>
                            </tr>
                        </thead>
                        <tbody id="service-related">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <h3>Danh sách lịch sử cập nhật</h3>
            @if (Model.EditHistory != null && Model.EditHistory.Any())
            {
            <table class="table table-bordered" style="color: black">
                <thead>
                <tr>
                    <th>Mục chỉnh sửa</th>
                    <th>Nội dung</th>
                    <th>Mô tả</th>
                    <th>Thời gian</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var editHistory in Model.EditHistory)
                {
                <tr>
                    <td style="width: 20%">@StatusHelper.DisplayNameForEditHistory(editHistory.For)</td>
                    <td style="width: 20%">@editHistory.Content</td>
                    <td style="width: 40%">@editHistory.Description</td>
                    <td style="width: 20%">@editHistory.ModifiedAt.Value.ToString("dd/MM/yyyy hh:mm tt")</td>
                </tr>
                }
                </tbody>
            </table>
            }
            else
            {
                <p>Chi tiết Phòng này hiện không có mục nào được chỉnh sửa.</p>
            }
        </div>
    </div>
</div>


@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script asp-append-version="true" src="~/modules/RoomBookingDetail1.js"></script>

    <!-- Thêm Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Thêm Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
}

<style>
    .bordered-text {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    /*.ui-datepicker {*/
    /*    z-index: 9999 !important;*/
    /*    width: auto;*/
    /*}*/

    #residenceModal .modal-dialog {
        position: relative; 
        top: 30%; 
        transform: translateY(0);
        width: 80%; 
        max-width: 1000px;
        margin: 30px auto; 
    }
</style>