@using Domain.Enums
@using Domain.Models
@using ViewClient.Views.Shared

@model Domain.DTO.Room.RoomResponse

@{
    ViewData["Title"] = "Details";
}
@{
    var floorList = ViewBag.FloorList as List<Domain.Models.Floor>;
    var roomtypeList = ViewBag.RoomTypes as List<Domain.DTO.RoomType.RoomTypeResponse>;
}
<h4 style="margin-top:50px;">Đặt phòng của bạn</h4>

<div class="d-flex" style="padding:10px;">
    <div class="img-column me-3">
        @if (Model.Images != null && Model.Images.Any())
        {
            @foreach (var img in Model.Images)
            {
                var extension = System.IO.Path.GetExtension(img);
                if (new[] { ".jpg", ".jpeg", ".png", ".gif" }.Contains(extension.ToLower()))
                {
                    var imagePath = Url.Content($"/View/wwwroot/images/{img}");

                    <div class="img-container-details">
                        <img src="@imagePath" alt="" />
                    </div>
                }
            }
        }
        else
        {
            <p>Không có hình ảnh</p>
        }
        <div class="amenities-column mt-3">
            <dt>Diện tích phòng: <span style="font-weight: normal;">@Html.DisplayFor(model => model.RoomSize) m²</span></dt>
            <dt>
                Tiện ích phòng của phòng:
                <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bold;">@Html.DisplayFor(model => model.Name)</span>
            </dt>
            @if (Model.RoomType.AmenityRooms != null && Model.RoomType.AmenityRooms.Any())
            {
                <div class="row">
                    @foreach (var amenityRoom in Model.RoomType.AmenityRooms
                   .Where(amenityRoom => amenityRoom.Status == EntityStatus.Active))
                    {
                        <div class="col-4 mb-2">
                            <div class="amenity-item">
                                <strong>@amenityRoom.Amenity.Name</strong>
                                <span style="font-weight: normal;">: @amenityRoom.Amount</span>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>Phòng này hiện không có tiện ích nào được liên kết.</p>
            }
        </div>
    </div>

    <div class="info-column flex-grow-1">
        <dl>
            <div class="info-row">
                <dt>@Html.DisplayName("Tên phòng")</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Giá phòng(VNĐ/đêm)")</dt>
                <dd>@Html.DisplayFor(model => model.Price)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Địa chỉ của khách sạn/phòng")</dt>
                <dd>@Html.DisplayFor(model => model.Address)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Mô tả chi tiết phòng")</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Số lượng người có thể ở")</dt>
                <dd>@roomtypeList?.FirstOrDefault(rt => rt.Id == Model.RoomTypeId)?.MaximumOccupancy người</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Tầng của phòng")</dt>
                <dd>@floorList?.FirstOrDefault(f => f.Id == Model.FloorId)?.Name</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Loại phòng")</dt>
                <dd>@roomtypeList?.FirstOrDefault(rt => rt.Id == Model.RoomTypeId)?.Name</dd>
            </div>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Quay lại</a>
    <button type="button" class="btn btn-primary" id="openModalButton">
        Đặt phòng
    </button>
</div>
<!-- Modal cho đặt phòng -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Đặt Phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="validationMessage" style="color: red;"></div>
            <div class="modal-body">
                <div style="display: flex; flex-direction: column; align-items: flex-start;">
                    <h6 style="margin: 0;"><i class="fa-regular fa-clock"></i> Giờ nhận phòng: <strong id="checkIn">Từ 14:00</strong></h6>
                    <h6 style="margin: 0;"><i class="fa-regular fa-clock"></i> Giờ trả phòng: <strong id="checkOut">Trước 12:00</strong></h6>
                </div>
                <br />
                <h6>@Model.Name</h6>
                <p class="font-monospace">Giá: @Model.Price VNĐ/đêm</p>
                <dt style="padding: 3px 3px 0 0"><i class="fa-regular fa-lightbulb"></i> Bạn có muốn đặt thêm dịch vụ không ?</dt>
                <form id="addServiceForm" method="post" action="@Url.Action("CreateService")">
                    <div class="mb-3">
                        <label class="form-label">Chọn Dịch Vụ:</label>
                        <div class="modal-dialog-scrollable">
                            <div class="form-check" id="serviceContainer">
                                <!-- Dịch vụ sẽ được thêm vào đây bằng JavaScript -->
                            </div>
                        </div>
                    </div>
                </form>
                <hr />
                <p style="font-weight: 600;" id="depositPayment">Đặt cọc: 0 VNĐ</p>
                <p style="font-weight: 600;" id="totalRoomPayment">Thanh toán: 0 VNĐ</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmBookingButton">Xác Nhận Đặt Phòng</button>
            </div>
        </div>
    </div>
</div>
<script>
    var isUserLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
    var roomId = '@Model.Id';
    var roomPrice = '@Model.Price';
    var bookingUrl = '@Url.Action("RoomBooking", "RoomBooking")';
</script>
@section scripts {
    <script asp-append-version="true" src="~/module/roomBooking.js"></script>
}
