@using Domain.Enums
@using ViewClient.Models.DTO
@using ViewClient.Views.Shared

@model RoomDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="room-info">@Html.DisplayFor(model => model.Room.Name)</div>

<div class="d-flex" style="padding:10px;">
    <div class="img-column me-3">
        @if (Model.Room.Images != null && Model.Room.Images.Any())
        {
            <div id="roomImageCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Room.Images.Count; i++)
                    {
                        var img = Model.Room.Images[i];
                        var extension = System.IO.Path.GetExtension(img);
                        if (new[] { ".jpg", ".jpeg", ".png", ".gif" }.Contains(extension.ToLower()))
                        {
                            var imagePath = Url.Content($"/View/wwwroot/images/{img}");
                            var activeClass = (i == 0) ? "active" : ""; 

                            <div class="carousel-item @activeClass">
                                <img src="@imagePath" class="d-block w-100" alt="" />
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#roomImageCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#roomImageCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        }
        else
        {
            <p>Không có hình ảnh</p>
        }
        <div class="amenities-column mt-3">
            <dt>Diện tích phòng: <span style="font-weight: normal;">@Html.DisplayFor(model => model.Room.RoomSize) m²</span></dt>
            <dt>
                Tiện ích phòng của phòng:
                <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bold;">@Html.DisplayFor(model => model.Room.Name)</span>
            </dt>
            @if (Model.Room.RoomType.AmenityRooms != null && Model.Room.RoomType.AmenityRooms.Any())
            {
                <div class="row">
                    @foreach (var amenityRoom in Model.Room.RoomType.AmenityRooms
                   .Where(amenityRoom => amenityRoom.Status == EntityStatus.Active))
                    {
                        <div class="col-4 mb-2">
                            <div class="amenity-item">
                                <strong>@amenityRoom.Amenity.Name</strong>
                                <span style="font-weight: normal;">: @amenityRoom.Amount</span>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>Phòng này hiện không có tiện ích nào được liên kết.</p>
            }
        </div>
    </div>

    <div class="info-column flex-grow-1">
        <dl>
            <div class="info-row">
                <dt>@Html.DisplayName("Tên phòng")</dt>
                <dd>@Html.DisplayFor(model => model.Room.Name)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Giá phòng(VNĐ/đêm)")</dt>
                <dd>@Math.Round(Model.Room.Price ?? 0)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Địa chỉ của khách sạn/phòng")</dt>
                <dd>@Html.DisplayFor(model => model.Room.Address)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Mô tả chi tiết phòng")</dt>
                <dd>@Html.DisplayFor(model => model.Room.Description)</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Số lượng người có thể ở")</dt>
                <dd>@Model.RoomType.MaximumOccupancy người</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Tầng của phòng")</dt>
                <dd>@Model.Floor.Name</dd>
            </div>
            <div class="info-row">
                <dt>@Html.DisplayName("Loại phòng")</dt>
                <dd>@Model.RoomType.Name</dd>
            </div>
        </dl>
    </div>
</div>

<div style="padding:10px;">
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Quay lại</a>
    <button type="button" class="btn btn-primary" id="openModalButton" style="font-weight:600; padding:10px;">
        Đặt phòng
    </button>
</div>
<!-- Modal cho đặt phòng -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingModalLabel">Đặt Phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="validationMessage" style="color: red;"></div>
            @* if (TempData["ErrorCreate"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorCreate"]
                </div>
            } *@
            <div class="modal-body">
                <div style="display: flex; flex-direction: column; align-items: flex-start;">
                    <h6 style="margin: 0;"><i class="fa-regular fa-clock"></i> Giờ nhận phòng: <strong id="checkIn">Từ 14:00</strong></h6>
                    <h6 style="margin: 0;"><i class="fa-regular fa-clock"></i> Giờ trả phòng: <strong id="checkOut">Trước 12:00</strong></h6>
                </div>
                <br />
                <dt>@Model.Room.Name</dt>
                <p class="font-monospace">Giá: @Math.Round(Model.Room.Price ?? 0) VNĐ/đêm</p>
                
                <div>
                    @if (Context.Session.GetString("UserName") == null)
                    {
                        <dt style="padding: 3px 3px 0 0"><i class="fa-regular fa-lightbulb"></i> Vui lòng nhập thông tin cá nhân đặt phòng ?</dt>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="firstName">Họ</label>
                                        <input type="text" class="form-control" name="FirstName" id="firstName" placeholder="Nhập họ">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="lastName">Tên</label>
                                        <input type="text" class="form-control" name="LastName" id="lastName" placeholder="Nhập tên">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" name="Email" id="email" placeholder="Nhập email" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="tel" class="form-control" name="PhoneNumber" id="phone" placeholder="Nhập số điện thoại" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <dt style="padding: 3px 3px 0 0"><i class="fa-regular fa-lightbulb"></i> Bạn có muốn đặt thêm dịch vụ không ?</dt>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <label class="form-label">Chọn Dịch Vụ</label>
                    <label class="form-label" style="margin-left: auto;">Chọn số lượng</label>
                </div>
                <div class="service-list" style="max-height: 200px; overflow-y: auto;">
                    @if (Model.Services != null && Model.Services.Any())
                    {
                        foreach (var service in Model.Services)
                        {
                            <div class="form-check" style="display: flex; align-items: center; margin-bottom: 10px;">
                                <input class="form-check-input service-checkbox" type="checkbox" value="@service.Id" id="service_@service.Id" style="margin-right: 10px;">
                                <label class="form-check-label" for="service_@service.Id" style="flex-grow: 1;">
                                    <strong>@service.Name</strong> - <span style="color: green;" data-price="@service.Price">
                                        @(Math.Round(@service.Price).ToString("N0")) VNĐ
                                    </span> / @service.Unit
                                </label>
                                <input type="number" class="form-control quantity-input service-quantity" id="quantity_@service.Id" min="1" value="1" style="width: 80px; margin-left: 10px;">
                            </div>
                        }
                    }
                    else
                    {
                        <p>Không có dịch vụ nào hiện có.</p>
                    }
                </div>

                <hr />
                <div style="text-align: end;">
                    <p style="font-weight: 600;" id="depositPayment">Đặt cọc: 0 VNĐ</p>
                    <p style="font-weight: 600;" id="totalRoomPayment">Tiền phòng: 0 VNĐ</p>
                    <p style="font-weight: 600;" id="totalServicePayment">Tiền dịch vụ: 0 VNĐ</p>
                    <p style="font-weight: 600;" id="totalPrice">Tổng tiền sau khi đặt cọc: 0 VNĐ</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmBookingButton">Xác Nhận Đặt Phòng và Chuyển sang trang thanh toán</button>
            </div>
        </div>
    </div>
</div>
<script>
    var isUserLoggedIn = '@User.Identity.IsAuthenticated.ToString().ToLower()';
    var roomId = '@Model.Room.Id';
    var roomPrice = '@Model.Room.Price';
    var bookingUrl = '@Url.Action("RoomBooking", "RoomBooking")';
</script>
@section scripts {
    <script asp-append-version="true" src="~/module/roomBooking.js"></script>
}
