@using Domain.Enums
@model Domain.DTO.Room.RoomResponse

@{
    ViewData["Title"] = "Edit";
}

<h3>Chỉnh sửa phòng</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomSize" class="control-label">RoomSize</label>
                <input asp-for="RoomSize" class="form-control" />
                <span asp-validation-for="RoomSize" class="text-danger"></span>
            </div>

            <!-- Các trường khác -->
            <div class="form-group">
                <label asp-for="Images">Hình ảnh</label>
                <input asp-for="Images" type="file" name="imgFiles" class="form-control" multiple />
                <span asp-validation-for="Images" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="FloorId" class="control-label">Loại phòng</label>
                <select asp-for="FloorId" class="form-control">
                    <option value="">-- Chọn loại phòng --</option>
                    @foreach (var floor in ViewBag.Floors)
                    {
                        <option value="@floor.Id">@floor.Name</option>
                    }
                </select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomTypeId" class="control-label">Loại phòng</label>
                <select asp-for="RoomTypeId" class="form-control">
                    <option value="">-- Chọn loại phòng --</option>
                    @foreach (var roomType in ViewBag.RoomTypes)
                    {
                        <option value="@roomType.Id">@roomType.Name</option>
                    }
                </select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-control">
                    @{
                        string[] status = (string[])Enum.GetNames(typeof(RoomStatus));
                    }
                    @foreach (string item in status)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ModifiedTime" class="control-label">Thời gian sửa</label>
                <input asp-for="ModifiedTime" class="form-control" />
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Cập nhật" class="btn btn-warning" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Quay lại</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
