@using System.Security.Claims

@{
    var userLogin = Context.User.FindFirst(ClaimTypes.UserData)?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ViewClient.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
            <div class="container">
                <a href="/Home/index" class="navbar-brand unifrakturmaguntia-regular fs-1">Continental</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarsExample09" style="">
                    <ul class="navbar-nav gap-5 mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a href="/Home/index" class="fw-bolder">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                        <a href="@Url.Action("GroupedServices", "Service")" class="fw-bolder">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                        <a href="@Url.Action("GroupedServices", "Service")" class="fw-bolder">Liên hệ</a>
                        </li>
                    </ul>
                    <div class="navbar-right">
                        <button class="profile-button" id="profileButton" aria-expanded="false" aria-label="Menu điều hướng chính">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
                                <g fill="none"><path d="M2 16h28M2 24h28M2 8h28"></path></g>
                            </svg>
                            <div class="profile-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 100%; width: 100%; fill: currentcolor;">
                                    <path d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"></path>
                                </svg>
                            </div>
                        </button>
                        @if (Context.User.FindFirst(ClaimTypes.UserData)?.Value == null)
                        {
                            <div class="profile-dropdown" id="profileDropdown">
                                <a href="/login">Đăng Nhập</a>
                                <a href="/register">Đăng ký</a>
                            </div>
                        }
                        else
                        {
                            <div class="profile-dropdown" id="profileDropdown">
                                <span style="color:black; margin-left:30px;">Thông tin cá nhân, @Context.Session.GetString("UserName")!</span>
                                <a href="@Url.Action("BookingHistory", "RoomBooking", new { Id = userLogin })" class="nav-button">Lịch sử đặt phòng</a>
                                <a href="@Url.Action("Logout", "Authoration")" class="nav-button">Đăng Xuất</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3" style="min-height:100vh;">
        @RenderBody()
    </main>
    <div class="banner text-center text-danger d-flex align-items-center" style=" no-repeat center center/cover; height: 400px; margin-top:400px;">
        <div class="container">
            <h1 class="display-4 fw-bold">Chào mừng đến với <span class="text-warning">khách sạn <span class="unifrakturmaguntia-regular text-warning">Continental</span></span></h1>
            <p class="lead"><i class="fas fa-star text-warning"></i> Dịch vụ đặt phòng trực tuyến nhanh chóng, tiện lợi <i class="fas fa-star text-warning"></i></p>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <!-- Email -->
        <div class="email-subscription text-center mb-4">
            <h4>Đăng ký để nhận tin</h4>
            <form class="d-flex justify-content-center align-items-center mt-2">
                <input type="email" class="form-control w-50" placeholder="Nhập email của bạn" required>
                <button type="submit" class="btn btn-primary ms-2">Đăng ký</button>
            </form>
        </div>
        <div class="footer-container">
            <!-- Logo Section -->
            <div class="footer-logo-section">
                <h1 href="/index" class="unifrakturmaguntia-regular ps-5">Continental</h1>
                <div class="footer-certificates ps-5">
                    <img src="~/img/cer1.webp" alt="Certificate 1">
                    <img src="~/img/cer2.svg" alt="Certificate 2">
                    <img src="~/img/cer3.webp" alt="Certificate 3">
                </div>
                <span class="ps-5 fs-3 fw-bold">Đối tác thanh toán</span>
                <div class="footer-certificates ps-5">
                    <img src="~/img/images.png" alt="Certificate 1">
                </div>
            </div>

            <!-- Links Section -->
            <div class="footer-links">
                <div class="footer-column">
                    <h4>Về Continental</h4>
                    <a href="#">Hướng dẫn đặt phòng</a>
                    <a href="#">Liên lạc</a>
                    <a href="#">Trợ giúp</a>
                    <a href="#">Trở thành đối tác</a>
                    <a href="#">Về chúng tôi</a>
                </div>
                <div class="footer-column">
                    <h4>Dịch vụ</h4>
                    <a href="#">Khách sạn</a>
                    <a href="#">Homestay</a>
                    <a href="#">Bungalow</a>
                    <a href="#">Phòng họp</a>
                </div>
                <div class="footer-column">
                    <h4>Khác</h4>
                    <a href="#">Chú ý quyền riêng tư</a>
                    <a href="https://localhost:7173/post/GetAllPostTerms">Điều khoản và điều kiện</a>
                    <a href="#">Đăng ký nơi ở</a>
                    <a href="#">Chương trình Tiết lộ Lỗ hổng Bảo mật</a>
                </div>
            </div>

            <!-- Social Medias -->
            <div class="social-media-section">
                <h4>Theo dõi</h4>
                <div class="social-media-logos">
                    <a href="#">
                        <img src="~/img/instagram.png" alt="Insta">
                    </a>
                    <a href="#">
                        <img src="~/img/facebook.png" alt="Face">
                    </a>
                </div>
            </div>
        </div>
        <p>© 2024 Continental. Bảo lưu mọi quyền.</p>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/vi.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/module/Button-Login.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
   
</body>
</html>
