@using Domain.Enums
@using View.Views.Shared.Helper
@model Domain.DTO.AmenityRoom.AmenityRoomResponse

@{
    ViewData["Title"] = "Edit";
}

<h3>Chỉnh sửa tiện nghi</h3>

<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-3">
    Quay lại
</a>

<div class="row">
    <form asp-action="Edit" class="row mt-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>

        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="AmenityId" class="control-label1">Tên tiện nghi</label>
                <select asp-for="AmenityId" class="form-select">
                    <option disabled>-- Chọn tiện nghi --</option>
                    @foreach (var amenity in ViewBag.Amenities)
                    {
                        <option value="@amenity.Id">@amenity.Name</option>
                    }
                </select>
                <span asp-validation-for="AmenityId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="RoomTypeId" class="control-label1">Loại phòng</label>
                <select asp-for="RoomTypeId" class="form-select">
                    <option disabled>-- Chọn loại phòng --</option>
                    @foreach (var roomType in ViewBag.RoomTypes)
                    {
                    <option value="@roomType.Id">@roomType.Name</option>
                    }
                </select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label1">Trạng thái</label>
                <select name="status" class="form-select" id="status">
                    <option disabled>-- Chọn trạng thái --</option>
                    @foreach (var status in Enum.GetValues(typeof(EntityStatus)))
                    {
                    var statusEnum = (EntityStatus)status;
                    <option value="@((int)statusEnum)" selected="@(Context.Request.Query["status"].ToString() == ((int)status).ToString())">
                        @StatusHelper.DisplayNameForEnum(statusEnum)
                    </option>
                    }
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Amount" class="control-label1">Số lượng</label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3" hidden>
                <label asp-for="ModifiedTime" class="control-label">Thời gian sửa</label>
                <input asp-for="ModifiedTime" class="form-control"/>
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group mt-3">
            <input type="submit" value="Cập nhật" class="btn btn-warning"/>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}