@using Domain.DTO.Amenity
@using Domain.DTO.RoomType
@using View.Views.Shared.Helper
@model Domain.DTO.Paging.ResponseData<Domain.DTO.AmenityRoom.AmenityRoomResponse>

@{
    ViewData["Title"] = "Index";
    // Lấy danh sách Amenities và RoomTypes từ ViewBag
    var amenities = ViewBag.Amenities as List<AmenityResponse>;
    var roomTypes = ViewBag.RoomTypes as List<RoomTypeResponse>;
}

<h3>Danh sách tiện nghi thuộc loại phòng đã xóa</h3>

<form method="get" action="@Url.Action("Trash", new { pageIndex = Model.CurrentPage, pageSize = Model.PageSize })" 
      class="d-flex align-items-center button-group">
    <div class="form-group me-2">
        <input type="text" name="searchString" class="form-control" placeholder="Tìm kiếm"
               value="@ViewContext.HttpContext.Request.Query["searchString"]"/>
    </div>
    
    <div class="form-group me-2">
        <select name="roomTypeId" class="form-select" id="roomType">
            <option hidden>Chọn loại phòng</option>
            @foreach (var roomType in ViewBag.RoomTypes)
            {
                <option value="@roomType.Id" selected="@(Context.Request.Query["roomTypeId"] == roomType.Id.ToString())">
                    @roomType.Name
                </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-outline-success">Lọc</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary ms-2">Xóa bộ lọc</a>
</form>

<a asp-action="Index" class="btn btn-outline-primary mt-3 mb-3">
    Quay lại
</a>

<table class="table" style="color: black">
    <thead>
    <tr>
        <th style="width: 20%">Loại phòng</th>
        <th style="width: 20%">Tiện nghi sử dụng</th>
        <th style="width: 20%">Số lượng</th>
        <th style="width: 20%">Trạng thái</th>
        <th style="width: 20%">Chức năng</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var amenityRoom in Model.data)
    {
        <tr>
            <td>@amenityRoom.RoomTypeName</td>
            <td>@amenityRoom.AmenityName</td>
            <td>@amenityRoom.Amount</td>
            <td>@StatusHelper.DisplayStatusBadge(amenityRoom.Status)</td>
            <td>
                @Html.ActionLink("Phục hồi", "Recover", new { amenityRoomId = amenityRoom.Id }, 
    new { @class = "button1 button-warning" })
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <nav>
        <ul class="pagination">
            @for (var i = 1; i <= Model.totalPage; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Trash", new {
                        pageIndex = i,
                        pageSize = Model.PageSize,
                        searchString = Context.Request.Query["searchString"].ToString(),
                        status = Context.Request.Query["status"].ToString()})">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>